.connection {
    width: 100%;
    min-height: 100svh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.connection-container {
    width: 540px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connection-container .connection-img {
    width: 80%;
}

.connection-container .connection-img img {
    width: 100%;
    object-fit: cover;
}

.connection-container .connection-title {
    margin-top: 60px;
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    color: #252F40;
}

.connection-container .connection-desc {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #838DA0;
}

.connection-container > a {
    margin-top: 48px;
    padding: 16px 32px;
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: #252F40;
    border-radius: 20px;
}